.logo {
  margin-left: 16px;
  margin-top: 15px;
  margin-bottom: 11px;
  line-height: 0;
}
.logo__icon {
  width: 149px;
  height: 20.9px;
}
/////////////////////////////
.calendar-slider {
  padding-left: 16px;
  padding-right: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 12px;
  padding-bottom: 12px;
  border: 1px solid rgba(19, 100, 205, 0.1);
  border-left: 0;
  border-right: 0;
}
.calendar-slider__arrow {
  position: relative;
  background-color: #e9ecef;
  border-radius: 50%;
  width: 32px;
  height: 32px;
}
.calendar-slider__icon-left {
  position: absolute;
  transform: translate(-57%, -50%);
  top: 50%;
  left: 50%;
  width: 16px;
  height: 16px;
}
.calendar-slider__icon-right {
  position: absolute;
  transform: translate(-43%, -50%);
  top: 50%;
  left: 50%;
  width: 16px;
  height: 16px;
}
.calenad-slider__date-container {
  font-size: 15px;
  line-height: 1.2;
}
/////////////////////////////
// .timeline {
//   overflow: auto;
//   width: 100vw;
//   // overflow: auto;
//   position: relative;
//   white-space: nowrap;
//   padding-bottom: 14px;
// }
// .timeline__hours {
//   border-bottom: 1px solid rgba(19, 100, 205, 0.1);
// }

// .hours__hour-label > span {
//   display: inline-block;
//   text-align: center;
//   font-size: 11px;
//   line-height: 1.181818;
//   letter-spacing: 0.4px;
//   color: #858e98;
//   font-weight: bold;
//   padding-top: 10px;
//   padding-bottom: 10px;
// }

/// room
