.full-width-row {
  -ms-grid-column: 1;
  -ms-grid-column-span: 904;
  grid-column: 1/904;
}
.floor__heading {
  -ms-grid-row: 1;
  background-color: #f6f7f9;
  height: 37px;
  position: relative;
}
.floors {
  background-color: #f6f7f9;
}
.floor__label {
  position: absolute;
  bottom: 8px;
  left: 16px;

  font-size: 11px;
  line-height: 1.181818;
  letter-spacing: 0.4px;
  color: #858e98;
  font-weight: bold;
  text-transform: uppercase;
}

.floors__footer {
  height: 37px;
}
.floors__footer-left {
  -ms-grid-column: 1;
  // -ms-grid-column-span: 1;
  grid-column: 1/2;
  border-right: 1px solid #e9ecef;
  background-color: #fff;
}
.floors__footer-right {
  -ms-grid-column: 2;
  -ms-grid-column-span: 902;
  grid-column: 2/904;
  // border-ga: 1px solid red;
  background-color: #f6f7f9;
}
