.diagram-wrapper {
  // display: flex;
  // min-width: 100%;
  // margin-left: auto;
  // margin-right: auto;
  // overflow: hidden;
  // width: 1237px;
  // overflow: hidden;
}
.diagram {
  overflow: hidden;
  overflow-x: auto;
  // overflow-x: visible;
  width: 100%;
  position: relative;
  white-space: nowrap;
  padding-bottom: 14px;
  @media (min-width: 960px) {
    overflow-x: hidden;
  }
  // height: auto;
}

.diagram__curr-time {
  position: relative;
  z-index: 15;
}
.diagram__curr-time-label {
  position: absolute;
  padding: 2px 8px;
  font-size: 11px;
  line-height: 1.181818;
  color: #ffffff;
  background-color: #1681fb;
  border-radius: 9px;
  font-weight: 700;
  // z-index: 111;
  top: 7px;
  transform: translateX(-50%);
  @media (min-width: 960px) {
    top: 14px;
  }
}
.diagram__curr-time-label::after {
  content: "";
  width: 1px;
  // height: 100px;
  background-color: #1681fb;
  position: absolute;
  left: 50%;
  top: 100%;
}

.hours {
  height: 32px;
  border-bottom: 1px solid rgba(19, 100, 205, 0.1);
  @media (min-width: 960px) {
    border-top: 1px solid rgba(19, 100, 205, 0.1);
    height: 46px;
  }
}

.hours__filler-start {
  -ms-grid-column: 1;
  background-color: #ccc;
}
.hours__filler-start1 {
  -ms-grid-column: 2;
  background-color: red;
}

.hours__label {
  position: relative;
  padding-top: 10px;
  z-index: 10;
  @media (min-width: 960px) {
    padding-top: 17px;
  }
  // padding-bottom: 10px;
}

.hours__label > span {
  position: absolute;
  font-size: 11px;
  line-height: 1.181818;
  letter-spacing: 0.4px;
  color: #858e98;
  font-weight: 700;
  // top: 50%;
  // padding-top: 20px;
  // padding-bottom: 20px;
  transform: translateX(-50%);
}
.hours__bar {
  position: absolute;
  top: 32px;
  transform: translateX(-50%);
  width: 1px;
  height: 100px;
  background-color: rgba(19, 100, 205, 0.1);
  @media (min-width: 960px) {
    top: 46px;
  }
}
//
.floor {
}
