include ../gui/gui.pug
mixin formNew(data)
  form
    .form-container
    .form-container__row-1
      .form-centering-container
        .fields-wrapper
          header.form-header
            h1.form-header__heading Новая встреча
            .form-header__close
              != pugHelpers.Icon.call(locals, {iconName: 'close', className: "form-header__close-icon"}) 
      
        .fields-wrapper
          .form__row.row-1
            .form__column
              .form__field
                +clearableInput("topic", {placeholder: "Тема встречи"}, "Тема")
            .form__column
              .form__field
                .form-column-left
                  .column-left__left
                    +calendarInput("date", {}, "Дата и время")
                  .column-left__right
                    .form__date-range
                      +basicInput("startTime", {value: "16:00"})
                      .form_date-range-dash —
                      +basicInput("endTime", {value: "16:30"})
        .delimiter

        .form__row.row-2.row-2--edit-page
          .form__column
            .fields-wrapper
              .form__field
                +dropdownField("attendees", {placeholder: "Например, Виктор Сергеевич"}, "Участники")
              .participants
                ul.participants__list
                  li.participants__item
                    +participant("Ургюмый мужик") 
                  li.participants__item
                    +participant("Кларк Кент") 
                  li.participants__item
                    +participant("Кларк Кент") 
            .delimiter
          .form__column
            .fields-wrapper
              .form__field 
                +fieldLabel("Выберите переговорку", "id")
                +meetingOutput("meeting", {}, "Ваша переговорка")
                +meetingOutput("meeting", {}, "Поле непаханное")
                +meetingOutput("meeting", {}, "Темная башня")
    .form-container__row-2          
      .form__controls.form__controls--fixed
        .form__notification Выберите переговорку
        button.btn.btn--longer.btn--create-mobile(disabled=true) Создать встречу
        //- .btn Создать встречу


    
      